        </main>
        <footer>
            <div>
                <img src="" alt="Blog logo">
                <ul>
                    <li>Socials</li>
                    <li>Socials</li>
                    <li>Socials</li>
                    <li>Socials</li>
                </ul>
            </div>
            <% if (user) { %> 
                <a href="/new_post_form" class="button_style">create new post</a>
            <% } else { %>
                <a href="/login_form" role="button">Login/Register to Create Posts</a>
            <% } %>
            <p>copyright&copy;2025</p>
        </footer>    
    </body>
</html>