@layer reset, base, navigation, components;

@layer reset {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    body {
        font-family: var(--fontfamily-body);
        font-size: 1rem;
        font-weight: 300;
        line-height: 150%;
        color: var(--text-dark);
    }
}

@layer base {
    /*color, typeface variables*/
    :root {
        --text-light: #EAEAEA;
        --text-dark: #2E2B2C;
        --background-light: #EAEAEA;
        --background-dark: #2E2B2C;
        --accent-light: #E37364;
        --accent-dark: #7B8189;
        --fontfamily-body: "Montserrat", sans-serif;
        --fontfamily-heading-main: "Bebas Neue", sans-serif;
        --fontfamily-heading-secondary: "Montserrat", sans-serif;
        --fontfamily-newspaper-name: "Bevan", serif;
    }

    main {
        min-height: 40rem;
    }
}

@layer navigation {
    header {
        padding: 1rem 4rem;
        background-color: var(--background-light);

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--fontfamily-heading-secondary);
            font-size: 1rem;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                ul {
                    display: flex;
                    gap: 1rem;
                    list-style: none;
                }
            }    
        }
    }
}

@layer components {
    /*global component styles*/
    .newspaper_name {
        font-family: var(--fontfamily-newspaper-name);
        font-size: 8rem;
        text-transform: uppercase;
    }

    h1 {
        font-family: var(--fontfamily-heading-main);
        font-size: 5rem;
        line-height: 125%;
        letter-spacing: 0.25rem;
        font-weight: bold;
        color: var(--text-dark);
    }

    h2 {
        font-family: var(--fontfamily-heading-secondary);
        font-size: 2rem;
        line-height: 145%;
        font-weight: 500;
        color: var(--text-dark);
    }

    h3 {
        font-family: var(--fontfamily-heading-secondary);
        font-size: 1.5rem;
        line-height: 125%;
        font-weight: 400;
        color: var(--text-dark);
    }    

    h4 {
        font-family: var(--fontfamily-heading-secondary);
        font-size: 1.25rem;
        line-height: 110%;
        font-weight: 300;
        color: var(--text-dark);
    }     

    a {
        font-family: var(--fontfamily-body);
        font-size: 1rem;
        line-height: 125%;
        font-weight: 400;
        color: var(--text-dark);
    }

    .input_field {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem; /*increases border line size for some reason*/
        font-size: 1rem;
        width: 40rem;
    }

    .input_text-body {
        width: 82rem;
        height: 45rem;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        font-family: var(--fontfamily-body);
    }

    .button_style {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--accent-dark);
        background-color: var(--background-dark);
        color: var(--text-light);
        font-size: 1rem;
                        
            &:hover {
                background-color: var(--accent-light);
            }
    }

    .button_style-ghost {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--accent-dark);
        font-size: 1rem;
                        
            &:hover {
                background-color: var(--accent-light);
            }
    }

    .newspaper_head {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-top: 0.5rem solid var(--accent-dark);
        border-bottom: 0.5rem solid var(--accent-dark);
    }

    /*home page styles*/
    .home_main {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .main_styles {
            padding: 3rem 4rem;
            display: flex;
            gap: 2rem;
        }

        .headline_article {
            width: 80%;
            min-height: 100vh;

            .hero {
              display: flex;
              flex-direction: column;
              
                img {
                    height: 60vh;
                    object-fit: cover;
                }

                h3 {
                    display: flex;
                    justify-content: right;
                    margin-bottom: 1rem;
                }
            }

            & > .body {
                column-count: 3;
                column-gap: 1rem;
            }
        }

        .article_sidebar, .author_sidebar {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
                    
            li {
                list-style: none;
            }
        }

        /*view article styles*/
        .article {
            .article_head img{
                width: 100%;
                height: 38rem;
                object-fit: cover;
            }

            h1, h3 {
                text-align: center;
            }

            .main_content {
                display: flex;
                gap: 1rem;
            }

            .content {
                width: 100%;
                display: flex;
                flex-direction: column;

                .body {
                    column-count: 3;
                    column-gap: 1rem;
                }

                .crud {
                    margin-top: 1rem;
                    text-align: end;
                }
            }
        }

        /*create, edit post styles*/
        .post_details {
            display: flex;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;

                div {
                    display: flex;
                    gap: 1rem;
                }
            }
        }

        /*delete confirm forms*/
        .delete_confirm {
            justify-content: center;
            gap: 1rem;
            width: 100%;
            align-items: center;

            form {
                width: min-content;
            }

            .title_confirm {
                font-family: var(--fontfamily-heading-secondary);
                font-size: 2rem;
                line-height: 145%;
                font-weight: 500;
                color: var(--text-dark);
            }
        }
    }

    footer {
        background-color: var(--background-dark);
        color: var(--text-light);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 3rem 4rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;
        }

        a {
            color: white;
        }
    }
}