<%- include("partials/header.ejs") %>

    <section>
        <h1>
            Welcome to the Dev Frog Blog
        </h1>
        <h2>
            Please register or login below.
        </h2>
        <form name="login_user" action="/login_user" method="POST" autocomplete="on">
            <div>
                <label for="email">
                    Email
                </label>
                <input name="email" type="email">
            </div>
            <div>
                <label for="password">
                    Password
                </label>
                <input name="password" type="password">
            </div>
            <button name="user_login" type="submit">
                Login
            </button>
        </form>    
        <div>
            <a href="/register_form" role="button">
                Register
            </a>
            <a href="/auth/google" role="button">
                Sign in using Google
            </a>
        </div>
    </section>

<%- include("partials/footer.ejs") %>