<%- include("partials/header.ejs") %>
 
    <h1>Create new post</h1>
    <form action="/create_post" method="post">
        <p id="title"><label>Article name: <input type="text" name="article_name"></label></p>
        <p id="body"><label>Article body: <input type="text" name="article_body"></label></p> <!--check if text area is better semantically or functionally, instead of input-->
        <p id="author"><label>Author name: <input type="text" name="author_name"></label></p>
        <input type="submit" value="Create Post"> <!--should be button element?-->
    </form>

<%- include("partials/footer.ejs") %>